* {
    padding: 0;
    margin: 0;
    
    /*Indsæt font her*/ 
    font-family: centurygothic;
    
    }
    
    @font-face {
        font-family: centurygothic;
        src: url(./fonts/911Fonts.com_CenturyGothicRegular__-_911fonts.com_fonts_mhpY.ttf);
      }


/* Her starter HEADER */

.header {
    background-color: #895a5a;
    padding: 0.5rem;
}

.header img {
    width: 15%;
    margin-left: 45%;
}


/* Her slutter HEADER */



/* Her starter BURGERMENU */




/* Her slutter BURGERMENU */



/* Her starter FORSIDE */




/* Her slutter FORSIDE */



/* Her starter GALLERI */




/* Her slutter GALLERI */



/* Her starter FOOTER */




/* Her slutter FOOTER */



/* MEDIA QUERIES */

@media screen and (min-width: 667px) {
    
/* HEADER */ 
    .header {
        background-color: #895a5a;
        padding: 0.5rem;
    }
    
    .header img {
        width: 8%;
        margin-left: 45%;
    }



}

