* {
    padding: 0;
    margin: 0;
    
    /*Indsæt font her*/ 
    font-family: centurygothic;
    
    }
    
    @font-face {
        font-family: centurygothic;
        src: url(./fonts/911Fonts.com_CenturyGothicRegular__-_911fonts.com_fonts_mhpY.ttf);
      }


/* Her starter HEADER */

.header {
    background-color: #895a5a;
    padding: 0.5rem;
}

.header img {
    width: 15%;
    margin-left: 45%;
}

/* Her slutter HEADER */


/* Her starter BURGERMENU */




/* Her slutter BURGERMENU */



/* Her starter FORSIDE */

.profile {
    background-color: #fdf1ea;
}

.profile img {
    width: 100%;
}

.profile h2 {
        position: absolute;
        top: 24%;
        left: 5%;
        color: #ffffff;      
        text-align: center;
        font-size: 30px;
        letter-spacing: 0.15ch;
}




.info {
    background-color: #fdf1ea;
    padding: 1rem;
    padding-top: 1.5rem;
}

.info h1 {
    color: #535353;
    font-size: 23px;
    text-align: center;
    padding-bottom: 1rem;
}

.info p {
    color: #535353;
    font-size: 15px;
    padding-bottom: 0.5rem;
}

.info a {
    letter-spacing: 0.35ch;
    text-align: center;
    padding: 0.5rem;
    margin-top: 3%;
    margin-right: 35%;
    margin-left: 35%;
    text-decoration: none;
    font-size: 12px;
    color: #535353;
    background-color: #cc9999;
    display: block;
}

.info a:hover {
    color: #f1f1f1;
    background-color: #895a5a;
}




.quote {
    background-color: #fdf1ea;
    padding: 1.5rem;
}

.quote h1 {
    font-size: 25px;
    color: #895a5a;
}

.quote h2 {
    font-size: 16px;
    color: #535353;
    margin: 2%;
    margin-right: 10%;
    text-align: right;
}




.mineprojekter {
    background-color: #fdf1ea;
    padding: 1rem;
    padding-top: 1.5rem;
}

.mineprojekter img {
    width: 100%;
}

.mineprojekter h1 {
    position: absolute;
    top: 94%;
    left: 22%;
    color: #ffffff;      
    text-align: center;
    font-size: 30px;
}

.mineprojekter p {
    color: #535353;
    font-size: 15px;
    margin-top: 0.5rem;
}

.mineprojekter a {
    letter-spacing: 0.35ch;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 6%;
    margin-right: 35%;
    margin-left: 35%;
    text-decoration: none;
    font-size: 12px;
    color: #535353;
    background-color: #cc9999;
    display: block;
}

.mineprojekter a:hover {
    color: #f1f1f1;
    background-color: #895a5a;
}




.cv {
    background-color: #fdf1ea;
    padding: 3%;
}

.cv img {
    width: 100%;
    margin-bottom: 0.5rem;
}

.cv h1 {
    position: absolute;
    top: 137%;
    left: 40%;
    color: #ffffff;      
    text-align: center;
    font-size: 35px;
}

.cv h2 {
    margin-top: 11rem;
    padding-bottom: 0.5rem;
    font-size: 20px;
}

.cv p {
    font-size: 15px;
}

.column {
    float: left;
    width: 30%;
}

.cv:after {
    content: "";
    display: table;
    clear: both;
}







/* Her slutter FORSIDE */



/* Her starter GALLERI */




/* Her slutter GALLERI */



/* Her starter FOOTER */

.footer {
    background-color: #895a5a;
    padding: 1rem;
    padding-bottom: 1.5rem;
}

.footer h1 {
    font-size: 15px;
    color: #ffffff;
    padding-bottom: 0.5rem;
}

.footer h2 {
    font-size: 10px;
    color: #ffffff;
}

/* Her slutter FOOTER */



/* MEDIA QUERIES */

@media screen and (min-width: 667px) {
    
/* HEADER */ 
    .header {
        background-color: #895a5a;
        padding: 0.5rem;
    }
    
    .header img {
        width: 8%;
        margin-left: 45%;
    }

/* PROFILE */ 
    .profile {
        background-color: #fdf1ea;
    }
    
    .profile img {
        width: 100%;
    }
    
    .profile h2 {
            position: absolute;
            top: 73%;
            left: 5%;
            color: #ffffff;      
            text-align: center;
            font-size: 110px;
            letter-spacing: 0.15ch;
    }


/* INFO */ 
    .info {
        background-color: #fdf1ea;
        padding: 1rem;
        padding-top: 1.5rem;
    }

    .info h1 {
        color: #535353;
        font-size: 45px;
        text-align: center;
        padding-bottom: 2rem;
    }

    .info p {
        color: #535353;
        font-size: 27px;
        padding-bottom: 0.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .info a {
        letter-spacing: 0.35ch;
        text-align: center;
        padding: 1rem;
        margin-top: 2%;
        margin-right: 35%;
        margin-left: 35%;
        text-decoration: none;
        font-size: 20px;
        color: #535353;
        background-color: #cc9999;
        display: block;
    }

    .info a:hover {
        color: #f1f1f1;
        background-color: #895a5a;
    }


/* QUOTE */ 
    .quote {
        background-color: #fdf1ea;
        padding: 1.5rem;
    }
    
    .quote h1 {
        font-size: 55px;
        margin-top: 2%;
        color: #895a5a;
        text-align: center;
    }
    
    .quote h2 {
        font-size: 25px;
        color: #535353;
        text-align: center;
        margin-left: 12%;
    }


/* MINE PROJEKTER */ 
    .mineprojekter {
        background-color: #fdf1ea;
        padding: 1rem;
        padding-top: 1.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .mineprojekter img {
        width: 100%;
    }

    .mineprojekter h1 {
        position: absolute;
        top: 180%;
        left: 28%;
        color: #ffffff;      
        text-align: center;
        font-size: 90px;
    }

    .mineprojekter p {
        color: #535353;
        font-size: 27px;
        margin-top: 1.5rem;
    }

    .mineprojekter a {
        letter-spacing: 0.35ch;
        text-align: center;
        padding: 1rem;
        margin-bottom: 2rem;
        margin-top: 4%;
        margin-right: 35%;
        margin-left: 35%;
        text-decoration: none;
        font-size: 20px;
        color: #535353;
        background-color: #cc9999;
        display: block;
    }

    .mineprojekter a:hover {
        color: #f1f1f1;
        background-color: #895a5a;
    }


/* CV */
    .cv {
        background-color: #fdf1ea;
        padding: 3rem;
    }
    
    .cv img {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    
    .cv h1 {
        position: absolute;
        top: 260%;
        left: 45%;
        color: #ffffff;      
        text-align: center;
        font-size: 95px;
    }
    
    .cv h2 {
        margin-top: 20rem;
        padding-bottom: 0.5rem;
        font-size: 38px;
    }
    
    .cv p {
        font-size: 27px;
    }
    
    .column {
        float: left;
        width: 30%;
    }
    
    .cv:after {
        content: "";
        display: table;
        clear: both;
    }






/* FOOTER */
    .footer {
        background-color: #895a5a;
        padding: 1rem;
        padding-bottom: 2rem;
    }
    
    .footer h1 {
        font-size: 25px;
        color: #ffffff;
        padding-bottom: 0.5rem;
    }
    
    .footer h2 {
        font-size: 13px;
        color: #ffffff;
    }




}

